.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
